body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.788);
}

div{
   background-color: rgb(#ff006a, rgb(255, 0, 0), rgb(0, 0, 0));
   position:absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 80x;
   border-radius: 15px;
   color: white;
}